@forward "../utils/animations";
@use "../utils/mixins" as mix;

.gallery-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    right: -0.5em;
    top: -7.2em;
    .gallery__img {
        width: 100%;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            transition: 1s ease-out;
            transform-origin: right;
            border-radius: 8px;
            box-shadow: 10px 60px 100px -50px rgba(79, 68, 68, 0.268);
            &.active-prev {
                animation: prevImg 1s ease-in forwards;
            }
            &.active-next {
                animation: nextImg 1s ease-in forwards;
            }
            &.appear {
                animation: appear 1s ease-in forwards;
            }
            &.disappear {
                animation: disappear 1s ease-in forwards;
            }
        }
        .diffuss_layer {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            right: -100%;
            @include mix.gradient;
        }
    }
    .gallery__btn {
        display: flex;
        gap: 2em;
        margin: auto;
        position: absolute;
        top: 32.5em;
        left: 4em;
        background-color: white;
        border-radius: 150px;
        padding: 1em 1.3em;
        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            &:active {
                transform: scale(0.8);
            }
        }
    }
}
